.env
**/bin/
**/obj/
**/TestResults/
**/google-services.json
**/firebase_options.dart
**/firebase.local.json
**/key.properties
**/*.jks
**/*.keystore
**/service-account*.json
**/appsettings.Local.json
.dart_tool/
artifacts/
**/local.properties
**/build/
**/.gradle/
**/.kotlin/
**/*.log
.idea/
